@charset "UTF-8";

.cedarville-cursive-regular {
font-family: "Cedarville Cursive", serif;
font-weight: lighter;
font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    max-width: 100%;
}
header p{
    font-weight: lighter;
}
a{
    color: white;
    font-weight: bold;
}

div{
    /* border: 1px solid black; */
    display: flex;
    box-shadow: 0px 0px 5px black;
    margin: 0;
    padding: 0;
    width: 100%;
}
div#imagem1{
    background-image: url(imagens/imagem3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
div#imagem2{
    background-image: url(imagens/imagem1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
div#imagem3{
    background-image: url(imagens/imagem2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}



pre{
    font-family: Cedarville Cursive, serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: 1.25em;
    /* font-size: 3vmax; */
    /* border: 1px solid black; */
    padding: 0.5em 2vw 0px 2vw;
    display: inline-block;
    margin: 5vh 1rem;
    max-width: 100%;
    }
pre.semimagem{

}
pre.comimagem{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}



footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px 0px 2px 0px;
    font-size: 0.9em;
    max-width: 100%;
}
