@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
}

a.icone {
    display: none;
    margin: 0px auto;
    background-color: rgb(98, 165, 165);
}
a img{
    max-width: 20px;
}

header{
    background-color: gray;
}
header > h1 {
    text-align: center;
    padding: 20px;
}

header a.menu {
    background-color: darkslategray;
    display: inline-block;
    color: white;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
}
header a.menu:hover{
    background-color: darkgray;
    color: black;
}

main{
    background-color: white;
    max-width: clamp(70vw, 80vw, 600px);
    padding: 20px;
    margin: 50px auto;
    text-indent: 20px;
    border-radius: 10px;
}
article p{
    margin: 10px;
}

@media (max-width: 500px) {
    main{

    }
    header{
        background-color: gray;
        padding: 0px;
    }
    nav a.menu, a.icone{
        display: block;
        text-align: center;
        border: 1px solid gray;
    }
}

