@charset "UTF-8";

/*
Pequenas: até 600px
Celular: até 768px
Table: até 992px
Desktop: até 1200px
Grandes: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html{
        background-image: linear-gradient(0deg, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
        height: 40vh;
        background-color: gray;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}
fsfsfs
fsfsfs
fsfsfs



@media screen and (min-width: 992px) {
    body, html{
        background-image: linear-gradient(45deg, #49a09d, #5f2c82);
    }
    section#login{
        width: 80vw;
        height: 40vh;
        max-width: 950px;
        background-color: darkslategray;
        color: white;
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
    }
}